.nav-color{
    box-shadow: 0 0 10px #236ac0;
    background: linear-gradient(#0c1d4d , #15416f,#091e50);
    /* background-color: #578FCA; */
}

button#dropdownMenuButton {
    background: none; 
   
 
  }
  .navbar-link img {
    display: inline-block;
    position: relative;
  }
  
  .navbar-link img:hover
  {
    border-bottom: 2px solid white;
  }