.sidebar {
    height: 200vh;
    box-shadow: 0 0 25px #236ac0;
    background: linear-gradient(#0a1d54 , #3883d3,#091e50);
    
}
.sidebar li{
padding: 10px 5px;

}
.sidebar li .side-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.side-link.active {
    font-weight: bold;
}
